body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

        background-image: url('https://i.hizliresim.com/dowulxf.jpg'); /* Arka plan olarak kullanmak istediğiniz resmin yolu */
        background-size: cover; /* Resmi tüm arka plana yay */
        background-position: center; /* Resmi ortala */
        background-attachment: fixed; /* Sayfa kaydırıldığında arka planın sabit kalmasını sağla */    
}

header {
    background-color: #333;
    color: white;
    padding: 7px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

main {
    padding-top: 60px;
}

.kategori {
    margin: 20px 10px;
}

.product-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    width: calc(33.333% - 10px);
    position: relative;
}

.product img {
    width: 100%;
    display: block;
}

.product-name {
    text-align: center;
    border: 2px solid #333; /* Kenarlık rengi ve kalınlığı */
    padding: 10px; /* İçerik ile kenarlık arasındaki boşluk */
    margin: 5px 0; /* Kutunun üst ve altındaki boşluk */
    border-radius: 5px; /* Kenarların yuvarlaklığı */
    background-color: rgba(249, 249, 249, 0.5); /* Kutu arka plan rengi ve saydamlık */
    display: block; /* Kutuyu blok seviyesinde bir öğe yapar */
    margin: auto; /* Üst ve alt marjı manuel ayarlayabilirsiniz, örneğin: margin: 20px auto; */
}

.product-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    padding: 20px 0px;
}

.product:hover .product-overlay {
    display: flex;
}







header nav ul li a {
    display: inline-block;
    margin: 5px 10px;
    padding: 10px 10px;
    background-color: #f0f0f0; /* Arka plan rengi */
    border: 2px solid #ddd; /* Hafif bir kenarlık */
    border-radius: 5px; /* Hafif yuvarlak köşeler */
    color: #333; /* Metin rengi */
    text-decoration: none; /* Metin altı çizgisini kaldır */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Animasyon için geçiş efekti */
}

header nav ul li a:hover {
    transform: translateY(-5px); /* Fare ile üzerine gelindiğinde yukarı hareket ettir */
    background-color: #e9e9e9; /* Fare ile üzerine gelindiğinde arka plan rengi */
}
header nav {
    display: flex; /* Flexbox modelini kullan */
    align-items: center; /* İçerikleri dikey olarak ortala */
    padding-left: 20px; /* Sol tarafta 20px boşluk bırak */
}

.site-logo {
    margin-right: 20px; /* Logo ile navigasyon menüsü arasında 20px boşluk */
    height: 50px; /* Logo yüksekliği */
    width: auto; /* Logonun genişliği otomatik olarak ayarlanır */
}

nav ul {
    list-style: none; /* Liste işaretlerini kaldır */
    display: flex; /* Liste öğeleri yan yana */
    padding: 0; /* Varsayılan padding değerini sıfırla */
    margin: 0; /* Varsayılan margin değerini sıfırla */
}

nav ul li {
    margin-right: 20px; /* Liste öğeleri arasında 20px boşluk */
}

nav ul li:last-child {
    margin-right: 0; /* Son liste öğesinin sağında boşluk olmaması */
}

h2 {
    color: #ffffff;
}
footer {
    color: #ffffff;
    text-align: right;
    padding-right: 20px;
}
